@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  padding: 0 40px;
  margin: 0;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 #00000033;

}

.main-wrapper {
  flex-grow: 1;
}

.main-header {
  display: flex;
  max-width: 1200px;
  padding: 0 70px;
  max-height: 64px;
}

.logo {
  z-index: 1;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.navigation-list {
  padding-left: 30px;
  min-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.navigation-list a {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none
}

.navigation-icons {
min-width: 268px;
display: flex;
align-items: center;
justify-content: flex-end;
}

.search-icon {
  display: inline-block;
  padding: 22px 12px;
  box-sizing: content-box;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.like {
  display: inline-block;
  padding: 24px 13px 23px;
  box-sizing: content-box;
  background-image: url(../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  width: 18px;
  height: 17px;
  margin-right: 20px;
  position: relative;
}

.like-icon {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 10px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  bottom: 33px;
}

.button {
  font-family: inherit;
  background-color: #756157;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
  Padding: 8px 50px;
}

.want-here {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 34px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  display: flex;
  padding-top: 51px;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../images/triangles.svg), url(../images/hero-background.jpg);
  background-size: 100% auto, cover;
  background-color: #8a82d3;
  background-repeat: no-repeat;
  min-height: 485px;
  background-position: left bottom, left top;
}

.advantages {
  padding-top: 69px;
}

.advantages h2 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.advantages .advantages-reason {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 90px;
}

.advantages-list {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  min-width: 400px;
  min-height: 385px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.advantages-item article {
  box-sizing: border-box;
  width: 400px;
  height: 385px;
  padding: 102px 85px
}

.advantages-item img {
  display: block;
}

.advantages h3 {
  color:#000000;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto 62px auto;
  text-transform: uppercase;
  max-width: 175px;

}

.advantages-item:first-child  {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item:first-child h3  {
  color: #FFFFFF;
}

.advantages-item:nth-child(3n) {
  background-color: #83B3D333;
}

.advantages-item:last-child  {
  background-color: #82B3D3;
  color: #FFFFFF;
 flex-direction: row-reverse;
}

.advantages-item:last-child h3 {
  color: #FFFFFF;
}


.advantages p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages img {
  display: block;
}

.visit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 1200px;
  min-height: 246px;
  padding: 64px 0;
}

.please-visit h2 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.please-visit p{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.visit-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 1200px;
  flex-wrap: wrap;
}

.visit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  height: 385px;
  padding: 81px 85px;
  background-color: #83B3D31F;
}

.visit-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.house-icon {
  display: block;
  background-image: url(../images/house-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  width: 75px;
  height: 72px;
}

.burger-icon {
  display: block;
  background-image: url(../images/burger-icon.svg);
  background-repeat: no-repeat;
  background-size: 74px 70px;
  width: 74px;
  height: 70px;
}

.present-icon {
  display: block;
  background-image: url(../images/present-icon.svg);
  background-repeat: no-repeat;
  background-size: 64px 76px;
  width: 64px;
  height: 76px;
}

.visit-header {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.visit-item p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.subscribe {
  min-height: 415px;
}

.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe p {
  margin: 0;
  margin-bottom: 54px;
}

.intrested {
  display: flex;
  width: 1200px;
  min-height: 406px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 304px;
}

.intrested p {
  max-width: 592px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 54px;
}

.intrested .button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  width: 1200px;
  min-height: 415px;
  background-image: url(../images/subscribe.jpg);
  background-color: #82B3D3;
  background-size: cover;
  padding-top: 96px;
  padding-right: 258px;
  padding-left: 258px;
  padding-bottom: 104px;

}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe h2 {
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-form {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.subscribe input {
  font-family: inherit;
  width: 452px;
  height: 52px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  font-family: inherit;
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  display: flex;
  width: 1200px;
  min-height: 120px;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  min-width: 142px;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin-right: auto;
}

.social-vk {
  display: inline-block;
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}

.social-tele {
  display: inline-block;
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
}

.social-youtube {
  display: inline-block;
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
}


.phone{
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  margin-right: auto;
}

.htmlacademy {
  display: inline-block;
  background-image: url(../images/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  width: 115px;
  height: 33px;
}

.menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1200px;
  min-height: 412px;
  background-image: url(../images/menu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333333;
  padding: 35px 70px 70px 70px;
}

.menu h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}

.bread-crums {
  display: flex;
  max-width: 495px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.bread-crums a {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.bread-crums-home {
  display: inline-block;
  background-image: url(../images/home-icon.svg);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
}

.menu legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 0;
  margin-top: 0;
  margin-bottom: 32px;
}

.filter {
  display: flex;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 150px;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  color: #FFFFFF;
}

.filter-group-list {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}

.filter-group-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-group:nth-child(2) {
  margin-right: 140px;
}

.filter-group-list {
  padding: 0;
  list-style: none;
}

.slider {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  min-width: 288px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.price-wrapper {
  max-width: 288px;
  display: flex;
  margin-bottom: 36px;
}

.price-wrapper > div {
  max-width: 143px;
}


.price-min {
  font-family: inherit;
  width: 143px;
  padding: 12px 20px;
  margin: 0;
  box-sizing: border-box;
}

.price-min[placeholder] {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.price-min::-webkit-inner-spin-button,
.price-min::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.price-max {
  font-family: inherit;
  width: 143px;
  padding: 12px 20px;
  margin: 0;
  box-sizing: border-box;
}

.price-max[placeholder] {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.price-max::-webkit-inner-spin-button,
.price-max::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.price-range {
  display: flex;
  width: 288px;
  min-height: 20px;
  position: relative;
}

.price-range .button-low {
  position: absolute;
  top: auto;
  left: 0;
  border: solid;
  border-radius: 5px;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
}

.price-filled {
  position: absolute;
  bottom: 8px;
  border-top:  solid 4px #FFFFFF;
  width: 288px;
}

.price-range .button-high {
  position: absolute;
  top: auto;
  left: 187px;
  border: solid;
  border-radius: 5px;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.menu-buttons {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 191px;
  margin: 0;
  padding: 0;
  padding-top: 56px;
}

.menu-button-filled {
  font-family: inherit;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
  border-width: 0;
  Padding: 8px 50px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.menu-button-clear {
  font-family: inherit;
  background-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
  border-width: 0;
  Padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.cards-header {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
}

.cards-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.price-filter {
  color: #333333;
  background-color: #FFFFFF;
  font-family: inherit;
}

.grid {
  background-image: url(../images/grid-icon.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  display: block;
  min-width: 48px;
  min-height: 48px;
}

.slide {
  background-image: url(../images/view-icon.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  display: block;
  min-width: 48px;
  min-height: 48px;
}

.list {
  background-image: url(../images/list-icon.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  display: block;
  min-width: 48px;
  min-height: 48px;
}

.cards-layout {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.cards {
  padding: 0 70px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  max-width: 1060px;
  padding: 0;
}

.card {
  max-width: 340px;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  border: solid 1px #E6E6E6;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 4px #00000025;
}

.card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700px;
  color: #000000;
  text-decoration: none;
}

.card-wrapper-type {
  display: flex;
  width: 300px;
}

.card-type {
  font-size: 18px;
  line-height: 21px;
  margin-right: auto;
}

.card-price {
  font-size: 18px;
  line-height: 21px;
}

.card-wrapper-more {
  display: flex;
  max-width: 300px;
  align-items: center;
}

.card-wrapper-more .button {
  max-width: 140px;
  box-sizing: border-box;
  padding: 8px 26px;
}

.card-wrapper-more .favourite {
  background-color: #82B3D3;
  max-width: 140px;
  box-sizing: border-box;
  padding: 8px 20px;
}

.card-wrapper-more .favourite-active {
  padding: 8px 18px;
  background-color: #7DB54F;
}

.card-wrapper-stars {
  width: 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
}

.card-stars {
  background-image: url(../images/star.svg);
  background-size: 18px 17px;
  background-repeat: space;
  display: block;
  min-height: 17px;
}

.card-stars-4 {
  width: 89px;
}

.card-stars-3 {
  width: 66px;
}

.card-stars-2 {
  width: 42px;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 70px;
  list-style: none;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #F2F2F2;
  background-color: #82B3D3;
  text-decoration: none;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: baseline;
  margin-right: 8px;
}

.pagination .pagination-active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 26px;
  width: 60px;
  height: 60px;
  text-align: center;
}

.subscribe-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
  background-color: #FFFFFF;
}

.subscribe-catalog input {
  background-color: #F2F2F2;
}

.subscribe-catalog h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.subscribe-catalog p {
  font-size: 22px;
  line-height: 26px;
  color:#333333;
  max-width: 475px;
  text-align: center;
}
